@use "jetbrains-mono.css";

* {
    padding: 0;
    margin: 0;
}

:root {
    --mdc-theme-primary: #3f51b5;
}

body {
    font-size: 16px;
    font-family: Roboto, serif;
    overflow: hidden;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
    margin-top: 1.5em;
    font-weight: 550;
}

h3 {
    font-size: 1.25em;
    font-weight: 500;

    margin-bottom: 1em;
    margin-top: 1.5em;
}

pre {
    background-color: rgba(0, 0, 0, 0.05) !important;
    padding: 1.25rem 1.5rem;
    border-radius: 6px;
    line-height: 1.5em;

    font-family: "JetBrains Mono", "Monospaced", monospace;

    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

code {
    font-family: "JetBrains Mono", monospace;
}

.app-title {
    display: flex;
    align-items: center;

    h1 {
        font-size: 1em;
        font-weight: unset;
    }

    a {
        text-decoration: none;
        color: white;
    }
}

#router-outlet {
    padding: 1rem;
    height: calc(100vh - 100px);
    overflow: auto;
}

.home-content {
    padding: 0 0.6em 2em;
    line-height: 1.5em;

    pre {
        margin: 1em 0;
    }

    ul {
        padding-left: 1em;
    }
}

.drawer-title {
    padding: 0 16px;
}


.components-grid {
    display: grid;
    align-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;
    padding: 2em 6em;
    /* standard drawer
    gap: 2em;
    margin: 2em 0 1em 2em;*/

    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
        width: min-content;
        width: -moz-min-content;
        border-radius: 16px;
        border: 1px solid rgba(0, 0, 0, 0.18);
        padding-bottom: 1em;
        cursor: pointer;
        text-decoration: none;
        color: black;

        img {
            border-radius: 16px;
            height: 200px;
            width: 360px;
        }

        h6 {
            font-size: 1.2em;
        }

        &:hover {
            background: rgba(0, 0, 0, .03);
        }
    }


    @media (max-width: 600px) {
        padding: 1em;
        grid-template-columns: 1fr;
        gap: 2em;

        a {
            img {
                height: 170px;
                width: 300px;
            }
        }

    }
}


mwc-top-app-bar-fixed {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 5px 8px 0 rgba(0, 0, 0, .14), 0 1px 14px 0 rgba(0, 0, 0, .12);
}

.drawer-content {
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    gap: 1em;

    mwc-list {
        padding-left: 16px
    }
}

mwc-list a {
    text-decoration: none;
}

// Hacking button to make it show in top-app-bar-fixed
.action-item {
    --mdc-theme-primary: white;
    margin-left: 0.5em;

    mwc-icon-button {
        color: rgba(0, 0, 0, 0.85);
    }
}

.comp-demo {
    display: flex;
    gap: 1em;
    padding: 1em 0;
    align-items: center;
}

.list-demo {
    padding: 0 1em;

    h2 {
        padding: 1em 0;
    }

    mwc-list {
        border: 1px solid #d3d3d3;
        max-width: 400px;
        margin-bottom: 1em;
    }
}

mwc-list-item, mwc-check-list-item, mwc-radio-list-item {
    padding: 0 16px;
}

.tab-component {
    padding: 1em 0;

    h2 {
        padding: 1em 0;
    }
}

.snackbar-dismiss-slot mwc-icon-button {
    --mdc-icon-size: 18px;
    --mdc-icon-button-size: 36px;
    color: rgba(255, 255, 255, 0.87);
    margin-left: 8px;
    margin-right: 0
}

.textfield-demo {
    mwc-textfield {
        min-width: 240px;
    }

    .shaped-filled {
        --mdc-text-field-filled-border-radius: 32px 32px 0 0;
    }

    .shaped-outlined {
        --mdc-notched-outline-leading-width: 28px;
        --mdc-notched-outline-leading-border-radius: 28px 0 0 28px;
        --mdc-notched-outline-trailing-border-radius: 0 28px 28px 0;
    }

    mwc-textarea {
        min-width: 250px;
    }

    .demo-group-spaced {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    h2 {
        padding: 0.5em 0;
    }

    .demo-group-spaced > *,
    [fullwidth] {
        margin-top: 8px;
    }
}


.codeblock {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3em;
    padding: 1em;
    margin: 1em 0.5em 2em 0.5em;

    @media (max-width: 600px) {
        max-width: unset !important;
    }

    .header {
        display: flex;
        align-items: center;
        margin: 0 0 2em 0;

        .title {
            font-size: 1.4em;
            margin: unset;
        }

        .right-icon {
            margin-left: auto;
        }
    }

    .demo {
        display: flex;
        gap: 1em;
        align-items: center;
    }
}

.four-colored-progress {
    --mdc-circular-progress-bar-color-1: #2196f3;
    --mdc-circular-progress-bar-color-2: #e91e63;
    --mdc-circular-progress-bar-color-3: #ffc107;
    --mdc-circular-progress-bar-color-4: #03dac5;
}

#menu-demo {
    .scrollable {
        border: solid 1px black;
        overflow-y: scroll;
        height: 100px;
    }

    .scrollable .spacer {
        height: 1000px;
    }
}

#slider-demo {
    mwc-slider {
        width: 50%;
    }
}
