@mixin screenshot-container {
    //width: 100%;
    //height: 100%;

    width: 360px;
    height: 200px;

    margin-top: 1em;

    background-color: rgba(0, 0, 0, 0.07); // maybe 0.06?
}

* {
    margin: 0;
}

#screenshots {
    $components: (
            'mwc-button',
            'mwc-circular-progress',
            'mwc-checkbox',
            'mwc-circular-progress-four-color',
            'mwc-drawer',
            'mwc-top-app-bar',
            'mwc-icon-button',
            'mwc-fab',
            'mwc-formfield',
            'mwc-linear-progress',
            'mwc-icon',
            'mwc-radio',
            'mwc-switch',
            'mwc-top-app-bar-fixed',
            'mwc-dialog',
            'mwc-list',
            'mwc-list-item',
            'mwc-check-list-item',
            'mwc-radio-list-item',
            'mwc-icon-button-toggle',
            'mwc-slider',
            'mwc-tab',
            'mwc-tab-bar',
            'mwc-snackbar',
            'mwc-textfield',
            'mwc-textarea',
            'mwc-select',
            'mwc-menu',
    );

    .container {
        @include screenshot-container;

        display: flex;
        gap: 2em;
    }

    .grid {
        display: grid;
        align-content: center;
        grid-template-columns: 1fr 1fr;
        gap: 3em;

        @include screenshot-container;

        @each $name in $components {
            #{$name} {
                margin: auto;
            }
        }
    }

    #fab {
        grid-template-columns: 1fr;

        div {
            display: flex;
        }
    }

    #icon-button {
        gap: 1.5em;
    }

    #circular-progress {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #form-field {
        display: flex;

        mwc-formfield {
            margin: auto;
        }
    }

    #linear-progress {
        grid-template-columns: 1fr;

        mwc-linear-progress {
            margin: 1em;
        }
    }

    #list {
        flex-direction: column;

        mwc-list {
            margin: 1em;
            border: 1px solid rgba(0, 0, 0, 0.2);
        }
    }

    #slider {
        grid-template-columns: 1fr;
    }

    #textfield {
        grid-template-columns: 1fr;
    }

    #textarea {
        grid-template-columns: 1fr;
        gap: 1.2em;
    }

    #select {
        flex-direction: column;

        mwc-select {
            margin: 1.3em auto;
        }
    }

    #menu {
        flex-direction: column;
        gap: 0;

        div {
            position: relative;
            padding: 0;
            margin: 0 4em;
        }

        span {
            margin: 0 3em;
        }
    }

    #tabs {
        mwc-tab-bar {
            flex: 1;
            margin-top: 2em;
        }
    }
}
